<!DOCTYPE html>
<html>

    <head>
        <title>Noted</title>
        <link rel="stylesheet" href="../main.css">
    </head>

    <body>
        <input type="hidden" id="usr_id" value="<%=id%>">
        <div class="brand">Noted</div>
        <div class="upper">
            <button class="signout" id="signout">Sign out</button>
        </div>

        <div class="upper_lower">
            <button class="add_note" id="add">Add new note</button>
            <button class="save_note" id="save">Save note</button>
        </div>
        <button class="sort" id="sort">
            Sort by date
        </button>
        <div class="notes" style="min-height:80vh ;">
                <div class="my_notes" id="my_notes">
                    <% for(let i=0;i<notes.length;i++){%>
                        <div class="wrapper">
                            <input class="note" id="<%= notes[i] %>" value="<%= notes[i] %>" readonly><input class="date" id="<%= dates[i] + 'date' %>" value="<%= dates[i] %>">
                            <div class="edit" id="<%= notes[i] %>edit"><img src="/edit.png" id="edit<%= notes[i] %>" alt="edit" class="sprite"></div>
                            <div class="delete" id="<%= notes[i] %>delete"><img src="/delete.png" alt="delete" class="sprite"></div>
                        </div>
                    <% };%>
                </div>
            <div class="current_note">
                <p class="pointer" id="pointer"></p>
                <textarea class="note_content" id="input">
                    
                </textarea>
            </div>
        </div>
        <div id="assistant">
            <p class="assistance">Let our assistant <span class="assist">NotedInteligence</span> help you make better notes!</p>
        </div>
        <div class="talk" id="talk">
        </div>
        <div class="prompt">
            <div class="submit"><img class="submitBtn" src="/send.png" id="submit" alt="submit"></div>
            <div class="question" id="question">
                <textarea class="prompt_input" id="prompt_input">

                </textarea>
            </div>
        </div>
        <script src="../main.js"></script>
    </body>
</html>